.navbar-light a.navbar-brand {
  font-family: "IBM Plex Mono";
  font-weight: bold;
}

body.no-logo .navbar-brand {
  display: none;
}

.nav.nav-user {
    display:: flex;
    align-items: center;
    height: 1em;
  }
  .nav.nav-user li a {
    line-height: 20px;
    padding: 10px 0.5em;
  }
  .nav.nav-user  .user-avatar {
    height: 2em;
    width: 2em;
  }

  .navbar-expand-lg .nav.nav-user .dropdown-menu {
    position: absolute;
    left: unset;
    right: 0;
  }
  .navbar-search {
    display: none;
  }

.bubble-link  {
  position: relative;
}
  .bubble-link .backgrounded {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }
  .bubble-link .fa {
    position: relative;
    z-index: 1; 
  }


.text-two-cols p {
  column-count: 2;
}

.text-three-cols p {
  column-count: 3;
}

// glitching animation
.glitch {
  background: white;
  font-weight: bold;
  font-family: "IBM Plex One", sans-serif;
  color: #FE4066;
  position: relative;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 10;
  $pause: 0.3;
  @for $i from 0 through $steps {
    #{percentage($i*((1-$pause)/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
  #{percentage(1-$pause)} {
    clip-path: inset(0 0 0 0);
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #FE4066;
  top: 0;
  color: #FE4066;
  background: white;
  overflow: hidden;
  animation: noise-anim 11s infinite linear;
  animation-delay: 2;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #FE4066;
  top: 0;
  color: #FE4066;
  background: white;
  overflow: hidden;
  animation: noise-anim-2 3s infinite linear;
  animation-delay: 2s;
}

// waves animation on the bottom

.waves {
  position:relative;
  width: 100%;
  height:35vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}



// square image support

.squared {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.text-brand-primary {
  font-family: "IBM Plex Mono"
}

.text-brand-secondary {
  font-family: "Permanent Marker";
}