.navbar-light a.navbar-brand {
  font-family: "IBM Plex Mono";
  font-weight: bold;
}
.nav.nav-user {
    display:: flex;
    align-items: center;
    height: 1em;
  }
  .nav.nav-user li a {
    line-height: 20px;
    padding: 10px 0.5em;
  }
  .nav.nav-user  .user-avatar {
    height: 2em;
    width: 2em;
  }

  .navbar-expand-lg .nav.nav-user .dropdown-menu {
    position: absolute;
    left: unset;
    right: 0;
  }
  .navbar-search {
    display: none;
  }

.bubble-link  {
  position: relative;
}
  .bubble-link .backgrounded {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }
  .bubble-link .fa {
    position: relative;
    z-index: 1; 
  }

