.navbar-light a.navbar-brand {
  font-family: "IBM Plex Mono";
  font-weight: bold;
}

body.no-logo .navbar-brand {
  display: none;
}

.nav.nav-user {
    display:: flex;
    align-items: center;
    height: 1em;
  }
  .nav.nav-user li a {
    line-height: 20px;
    padding: 10px 0.5em;
  }
  .nav.nav-user  .user-avatar {
    height: 2em;
    width: 2em;
  }

  .navbar-expand-lg .nav.nav-user .dropdown-menu {
    position: absolute;
    left: unset;
    right: 0;
  }
  .navbar-search {
    display: none;
  }

.bubble-link  {
  position: relative;
}
  .bubble-link .backgrounded {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }
  .bubble-link .fa {
    position: relative;
    z-index: 1; 
  }


.text-two-cols p {
  column-count: 2;
}

.text-three-cols p {
  column-count: 3;
}

// glitching animation
.glitch {
  background: white;
  font-weight: bold;
  font-family: "IBM Plex One", sans-serif;
  color: #FE4066;
  position: relative;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 10;
  $pause: 0.3;
  @for $i from 0 through $steps {
    #{percentage($i*((1-$pause)/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
  #{percentage(1-$pause)} {
    clip-path: inset(0 0 0 0);
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #FE4066;
  top: 0;
  color: #FE4066;
  background: white;
  overflow: hidden;
  animation: noise-anim 11s infinite linear;
  animation-delay: 2;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #FE4066;
  top: 0;
  color: #FE4066;
  background: white;
  overflow: hidden;
  animation: noise-anim-2 3s infinite linear;
  animation-delay: 2s;
}
