{% load wagtailcore_tags wagtailimages_tags fontawesome %}

<a href="{{self.page.get_url}}"
    class="bubble-link flex align-items-center py-2 {{self.settings.custom_css_class}}"
    {% if self.settings.custom_css_id %}id="{{self.settings.custom_css_id}}"{% endif %}
    >
    <span class="d-block h1 text-center position-relative text-primary py-5"
        style="
            {% if self.color %}
                color:{{self.color}}
            {% elif self.page.specific.foreground_color %}
                color:{{self.page.specific.foreground_color}}
            {% endif %}
        "
    >
        <svg class="backgrounded w-50" viewbox="0 0 550 550">
            <g transform="translate(275, 275)">
            <path
                class="blob text-secondary"
                    {% if self.bg_color %}
                        style="fill:{{self.bg_color}}"
                    {% elif self.page.specific.background_color %}
                        style="fill:{{self.page.specific.background_color}}"
                    {% endif %}
                d=""
                />
            </g>
        </svg>
        {% fontawesome_icon self.page.specific.icon color="inherit" %}
    </span>
    <span class="h3 d-block text-center">{{self.page.title}}</span>
</a>