{% load wagtailcore_tags wagtailimages_tags fontawesome bubbles %}

<div
    class="{{self.settings.custom_css_class}} bubble-link container-fluid"
    {% if self.settings.custom_css_id %}id="{{self.settings.custom_css_id}}"{% endif %}
>
<a href="{{self.page.get_url}}" class="row align-items-center my-3">
    <span class="col-3 h1 text-center position-relative text-primary"
        style="
            {% if self.color %}
                color:{{self.color}}
            {% elif self.page.specific.foreground_color %}
                color:{{self.page.specific.foreground_color}}
            {% endif %}
        "
    >
        <svg class="backgrounded w-75" viewbox="0 0 550 550">
            <g transform="translate(275, 275)">
            <path
                class="blob text-secondary"
                    {% if self.bg_color %}
                        style="fill:{{self.bg_color}}"
                    {% elif self.page.specific.background_color %}
                        style="fill:{{self.page.specific.background_color}}"
                    {% endif %}
                    d="{% random_bubble_path %}"
                
                />
            </g>
        </svg>
        {% fontawesome_icon self.page.specific.icon color="inherit" %}
    </span>
    <span class="h3 col-9">{{self.page.title}}</span>
</a>
<div class="row">
    <div class="col-md-offset-3 col-md-9">
        {{ self.content|richtext }}
    </div>
</div>
</div>