{% load static wagtailuserbar fontawesome wagtailcore_tags misago_json menu_tags %}
{% load compress %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% compress css %}
        <link type="text/x-scss" href="{% static 'base.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'misago.scss' %}" rel="stylesheet" media="screen">
        <link href="{% static 'material-icons/material-icons.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'ibm_plex_mono/ibm_plex_mono.css' %}" rel="stylesheet" media="screen">

        {% fontawesome_stylesheet %}
        <link type="text/x-scss" href="{% static 'custom.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "menus/top_navbar.html" %}
        
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        
        {% block inner %}{% endblock %}

        <footer>
            <section class="py-5 bg-primary">
            <div class="container text-center">
                <h2 class="text-light">Zeit die Welt zu verändern</h2>
                <p class="text-light">Tritt der wachsenden Community von Aktivisti bei und vernetze Dich</p>
                <button class="my-3 btn btn-lg btn-light text-primary">Jetzt mitmachen</button>
            </div>
            
            </section>
            
            <div class="py-5 border-top">
            <div class="container">
                <div class="row">
                <div class="ml-auto">
                    <p class="h5 mb-3">{% if site_name %}- {{ site_name }}{% endif %}</p>

                    <ul class="navbar-nav">
                        {% main_menu max_levels=1 %}
                    </ul>
                </div>
            
                <div class="col-sm text-right">
                    © 2020 HTS
                </div>
            
                </div>
            
            </div>
            </div>
            
        </footer>

        <div class="search-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="SearchModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group input-group-lg">
                                    <input
                                        type="text"
                                        id="search-input"
                                        class="form-control"
                                        placeholder="Suchbegriff eingeben"
                                        aria-label="Suchbegriff eingeben"
                                        />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="search-spinner" class="col-md-12 p-3 text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div id="search-results" class="col-md-12">

                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/svg.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hts.js' %}"></script>
        
        <script src="{% url 'django-i18n' %}?{{ LANGUAGE_CODE }}"></script>
        <script type="text/javascript">
          if (!(Object.assign && Array.from)) {
            var polyfill = document.createElement('script');
            polyfill.src = '{% static "misago/js/es2015.js" %}';
            document.getElementsByTagName('head')[0].appendChild(polyfill);
          }
        </script>
        <script src="{% static 'misago/js/vendor.js' %}"></script>
        {% if LANGUAGE_CODE != "en-us" and MOMENTJS_LOCALE_URL %}
          <script src="{% static MOMENTJS_LOCALE_URL %}"></script>
        {% endif %}
        <script src="{% static 'misago/js/misago.js' %}"></script>
        {% include "misago/scripts.html" %}
        <script type="text/javascript">
          misago.init({{ frontend_context|as_json }});
        </script>
    
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>

</html>
