{% load wagtailcore_tags menu_tags fontawesome %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" rel="author" href="{% slugurl 'home' %}">
        <span class="d-inline d-md-none">
          HTS_
        </span>
        <span class="d-none d-md-inline">
          HACK_THE_SYSTEM_
        </span>
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav float-right">
          <li class="nav-item">
            <a class="btn text-muted" data-toggle="modal" data-target=".search-modal" title="Search">
              {% fontawesome_icon 'search' %}
            </a>
          </li>
          {% main_menu %}
          {% if user.is_authenticated %}
              {% if user.is_staff %}
                  <li class="nav-item"><a class="btn" title="Wagtail Admin Area" href="/admin">
                      {% fontawesome_icon 'superpowers' color='red' %}</a></li>
              {% endif %}
              <li class="nav-item"><div id="user-menu-mount"></div></li>
          {% else %}
            <li class="nav-item">
              <a class="btn text-muted" data-toggle="modal" data-target=".login-modal" title="login">
                {% fontawesome_icon 'sign-in' %}
              </a>
            </li>
              <li class="nav-item"><a class="btn btn-primary" href="/mitmachen">Mitmachen</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>