{% extends "base.html" %}
{% load static misago_avatars compress wagtailimages_tags %}

{% block extra_css %}
    {% compress css %}
    <link type="text/css" href="{% static 'css/toc.css' %}" rel="stylesheet" media="screen">
    {% endcompress %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/toc.js' %}"></script>
{% endblock %}

{% block body_attrs %}
    class="{{page.css_page_classes}}"
    data-spy="scroll"
    data-target="#toc"
{% endblock %}

{% block inner %}

{% if page.cover %}
<div
    {% if page.background_color %}
        class="d-block py-3"
        style="background: {{page.background_color}}"
    {% else %}
        class="container-fluid bg-secondary text-white"
    {% endif %}>

{% else %}
<div class="d-block bg-light border-top border-bottom text-dark py-3">
{% endif %}
   <div class="container">
        <div class="row align-items-center ">
            <div
                {% if page.cover %}
                    class="col-md-6 pl-3"
                {% else %}
                    class="col-12  pl-3"
                {% endif %}
                {% if page.background_color %}
                style="border-left: 1.5em solid {{page.background_color}}; color: {{page.foreground_color}}"
                {% endif %}
            >
                <h1>
                    {% if page.icon %}
                    {{ page.icon.as_html }}
                    {% endif %}
                    {{page.title}}</h1>
                <p>
                    <span title="Erstmals publiziert: {{page.first_published_at | date:"DATETIME_FORMAT"}}">
                        {{page.last_published_at | date:"DATETIME_FORMAT"}}
                    </span>
                    <span>
                        von 
                        {% for author in page.get_authors %}
                            <a href="{{author.get_url}}">

                            {% if author.avatar %}
                                {% image author.avatar max-30x30 as self_image %}

                                <img style="height: 1em" src="{{self_image.url}}" alt="{{author.get_any_name}}" />
                                
                            {% elif author.user %}
                                <img style="height: 1em" src="{{ author.user|avatar:200 }}" alt="{{author.get_any_name}}">
                            {% endif %}
                            &nbsp;{{author.get_any_name}}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                    {% if page.related_discussion %}
                        | <a href="{{page.related_discussion.get_absolute_url}}">
                            🗨️ {{page.discussions_query.count}}
                        </a>
                    {% endif %}
                </p>
            </div>
        {% if page.cover %}
            <div class="col-md-6 py-3 text-center">
                <img src="{% image_url page.cover 'width-1080' %}" style="max-height: 300px" />
            </div>
        {% endif %}
        </div>
    </div>
</div>

<div>
    <nav id="toc" data-toggle="toc" class="sticky-top"></nav>

    <div class="container py-5">
        {{ page.content }}
    </div>
</div>
{% if page.comments %}
    <div class="container-fluid bg-light border-top border-bottom text-dark py-3">
        <div class="container">
            <h3>Beliebteste Disksussionsbeiträge</h3>
            <ul class="posts-list ui-ready">
                {% for post in page.comments %}
                    {% include "misago/thread/posts/post/index.html" with post=post %}
                {% endfor %}
            </ul>
            <div class="text-center pt-4 pb-5">
                <a class="btn btn-primary"
                    href="{{page.related_discussion.get_absolute_url}}">
                    Zur Diskussions
                </a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}